* {
  margin: 0;
  padding: 0;
}

html body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 6fr) ;
    grid-template-rows:   repeat(6, 1fr);
}

.header {
    background-color: white;
    grid-column: 2 / 5;
    grid-row: 1 / 1;
}

.top-header {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.top-header-name {
    grid-column: 11 / 11;
    font-size: 1.25em;
    font-weight: bold;
}

#search-input {
    height: 2.5em;
    width: 600px;
    border-radius: 35px;
    box-shadow: 0 8px 6px -10px black;

}

#search-input:hover {
    background-color: rgba(214, 196, 231, 0.719);
}

.bottom-header {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat 1fr;
    margin-bottom: 12px;
    align-items: center;
}

.hi-there {
    font-size: 1em;
    font-weight: bold;
}

.bottom-header-name {
    font-size: 1.5em;
    font-weight: bold;
}

.sidebar {
    background-color: rgba(77, 26, 124, 0.938);
    grid-column: 1;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 2fr));
    grid-template-rows: repeat(10, minmax(0, 10%));
    color: white;
    font-weight:bold;
}

.sidebar-row-one {
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    margin-top: 1em;
    padding-left: 4em;
    padding-right: 5em;
}

.sidebar-row-two {
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    align-items: center;
    margin-top: 15px;
    padding-left: 4em;
    padding-right: 5em;
}

.side-bar-row-three {
    grid-row: 6 / 8;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
    padding-left: 4em;
    padding-right: 5em;
}

.content-square {

    grid-column: 2 / 6;
    grid-row: 2 / 7;
    background-color: rgb(240, 239, 239);
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5); 
}

.row-one {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 4em;
}

.content-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(75px, 1fr)) repeat(1, minmax(0, 1fr));
    column-gap: 2em;
    overflow-wrap: break-word;
    padding: 2em;
}

.column-one, .column-two {
    grid-template-columns: (2, minmax(75px, 1fr)); 
    grid-auto-rows: minmax(100px, auto);
    row-gap: 2em;
}

.rectangle {
    padding: 1em;
    border-left: 6px solid rgba(77, 26, 124, 0.938); /*think about taking border-left off*/
    border-radius: 4px;
    background-color: white;
    border-bottom: 2px solid rgba(77, 26, 124, 0.938);
    box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    clip-path: inset(0 -15px -15px 0); 
}

.column-three {
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    row-gap: 2em;
}


.rectangle-one {
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    grid-auto-rows: minmax(100px, auto);
    row-gap: 2em;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-top: 1em;
    padding-left: 2em;
}

.rectangle-one-third {
    border-bottom: solid black 2px;
    box-shadow:  10px 10px -8px rgba(0, 0, 0, 0.5); 
}

.rectangle-two {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding-left: 2em;
    padding-right: 15em;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.description {
    display: flex; 
    flex-direction: column;
    gap: .5em;
}

.tag-name {
    font-weight: bold;
}

.para-column-three {
    padding-top: .5em;
    padding-right: 5em;
    padding-bottom: 4em;
    font-size: .9em;
}


.your-projects, .announcements {
    font-size: 1.25em;
    font-weight: bold;
}

.heading-column-three {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: .25em;
}

.trending {
    font-size: 1.25em;
    font-weight: bold;
}

p {
    padding-top: .5em;
    padding-right: 5em;
    padding-bottom: 4em;
    color: rgb(90, 89, 89)
}

span {
    color: rgb(90, 89, 89)
}

.rectangle-icons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;

}

h1 {
    font-size: 1.25em;
    font-weight: bold;
}

.magnifying-glass {
    grid-column: 2 / 2;
    
}

#magnifying-glass{
    height: 30px;
    width: 30px;
}

.star, .eye, .source-fork {
    height: 30px;
    width: 30px;
}

#magnifying-glass:hover {
    background-color: rgba(214, 196, 231, 0.719);
    border-radius: 4px;
}

.ringing-bell {
    grid-column: 7 / 7;
}

#ringing-bell {
    height: 30px;
    width: 30px;
}

#ringing-bell:hover {
     background-color: rgba(214, 196, 231, 0.719);
     border-radius: 4px;
}

.html-cat-logo {
    grid-column: 9 / 9;
}

#html-cat-logo {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px grey;
}

.html-cat-logo-large {
    grid-column: 2 / 2;
}

#html-cat-logo-large {
    height: 80px;
    width: 80px;
    border-radius:  4px;
    box-shadow: inset 2px 2px 5px grey;
    box-shadow: 0 8px 6px -8px black;
}

.introduction {
    grid-column: 4 / 11;
}

button {
    border: none;
    border-radius: 30px;
    width: 7em;
    height: 2.75em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgba(77, 26, 124, 0.938);
    box-shadow: 0 8px 6px -8px black;
}

.button-one {
    grid-column: 12 / 12;
}

.button-two {
    grid-column: 14/ 14;
}

.button-three {
    grid-column: 16 / 16;
}

.dashboard {
    height: 40px;
    width: 40px;
    fill: white;
}

.profile , .messages, .history, .tasks
, .communities, .settings, .support, .privacy {
    height: 30px;
    width: 30px;
    fill: white;
}

#sticker {
    height: 60px;
    width: 60px;
}








