* {
  margin: 0;
  padding: 0;
}

html body {
  display: grid;
  grid-template-columns: repeat(1, minmax(0 , 100%));
  font-family: 'Roboto', sans-serif;  
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 6fr) ;
    grid-template-rows:   repeat(5, 1fr);
    
}

.header {
    background-color: white;
    grid-column: 2 / 5;
    grid-row: 1 / 1;
    
}

.top-header {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.top-header-name {
    grid-column: 11 / 11;
    font-size: 1.25em;
    font-weight: bold;
}

#search-input {
    height: 2.5em;
    width: 600px;
    border-radius: 35px;

}

#search-input:hover {
    background-color: rgba(214, 196, 231, 0.719);
}

.bottom-header {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat 1fr;
    margin-bottom: 36px;
    align-items: center;
}

.hi-there {
    font-size: 1em;
    font-weight: bold;
}

.bottom-header-name {
    font-size: 1.5em;
    font-weight: bold;
}

.sidebar {
    background-color: rgba(77, 26, 124, 0.938);
    grid-column: 1;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 2fr));
    grid-template-rows: repeat(10, minmax(0, 10%));
    color: white;
    font-weight:bold;
}

.sidebar-row-one {
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    margin-top: 15px;
    padding-left: 3em;
    padding-right: 4em;
}

.sidebar-row-two {
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    align-items: center;
    margin-top: 15px;
    padding-left: 3em;
    padding-right: 4em;
}

.side-bar-row-three {
    grid-row: 6/ 8;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
    margin-top: 15px;
    padding-left: 3em;
    padding-right: 4em;
}

.content-square {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
    background-color: aquamarine;
}

.magnifying-glass {
    grid-column: 2 / 2;
}

#magnifying-glass{
    height: 30px;
    width: 30px;
}

#magnifying-glass:hover {
    background-color: rgba(214, 196, 231, 0.719);
    border-radius: 4px;
}

.ringing-bell {
    grid-column: 7 / 7;
}

#ringing-bell {
    height: 30px;
    width: 30px;
}

#ringing-bell:hover {
     background-color: rgba(214, 196, 231, 0.719);
     border-radius: 4px;
}

.html-cat-logo {
    grid-column: 9 / 9;
}

#html-cat-logo {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px grey;
}

.html-cat-logo-large {
    grid-column: 2 / 2;
}

#html-cat-logo-large {
    height: 80px;
    width: 80px;
    border-radius:  4px;
    box-shadow: inset 2px 2px 5px grey;
}

.introduction {
    grid-column: 4 / 11;
    
}

button {
    border: none;
    border-radius: 30px;
    width: 8em;
    height: 3.5em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgba(77, 26, 124, 0.938);
}

.button-one {
    grid-column: 12 / 12;
}

.button-two {
    grid-column: 14/ 14;
}

.button-three {
    grid-column: 16 / 16;
}

.dashboard {
    height: 40px;
    width: 40px;
    fill: white;
}

.profile , .messages, .history, .tasks
, .communities, .settings, .support, .privacy {
    height: 30px;
    width: 30px;
    fill: white;
}




